@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div id="currencyConverter" class="panel panel-default bg-light">
    <div class="panel-body">
        <h1>Currency Calculator</h1>
        <label>Convert The Currency</label>

        <div class="input-group">
            <input id="enteredValue" class="mr-2 form-control" v-model="numberInput" />
            <select name="currencyFrom" id="from" v-model="selectedFromCurrency" class="mr-2 form-control">
                <option v-for="item in supportedCurrencies" :value="item">{{item}}</option>
            </select>
            <label class="mr-2 ml-2">convert to</label>
            <select name="currencyTo" id="to" v-model="selectedToCurrency" class="mr-2 form-control">
                <option v-for="item in supportedCurrencies" :value="item">{{item}}</option>
            </select>
            <button class="btn btn-success" v-on:click="submit">Submit</button>
        </div>
        <label v-if="conversionAmount > 0">{{numberInput}} {{selectedFromCurrency}} = {{conversionAmount}} {{selectedToCurrency}}</label>
    </div>
</div>


<script type="text/javascript">
    var currencies = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Currencies.ToArray()));
</script>
<script src="~/vue/dist/vue.js"></script>
<script src="~/js/currencyconvert.js"></script>
